<!-- Link to NYU Shibboleth and the first secondary login -->
<div class="row">
  <h1 class="heading"><%= t('application.header_html') %></h1>
</div>
<div class="row">
  <!-- Link to NYU Shibboleth auth -->
  <div id="nyu_shibboleth-login" class="col-sm-9 primary-login">
    <h2><%= link_to t('application.nyu.link_text'), user_nyu_shibboleth_omniauth_authorize_path(institution: current_institution.code, auth_type: :nyu) %></h2>
  </div>
  <!-- Link to the first secondary login auth in the list -->
  <%- option = institution.views["login"]["secondary"].first -%>
  <%= render "wayf/auth_squares/#{option}" %>
</div>
<!-- Link to the rest of the secondary logins -->

<div class="row">
  <% if request.path.include? "ezborrow" %>
  <% ['ns'].each do |option| %>
  <%= render "wayf/auth_squares/#{option}" %>
  <% end %>
  <% else %>
  <% institution.views["login"]["secondary"][1..-1].each do |option| %>
    <%= render "wayf/auth_squares/#{option}" %>
  <% end %>
  <% end %>
  <!-- Link to visitor square -->
  <%= render "wayf/auth_squares/visitor" %>
</div>
