<div id="aleph">
  <h1>
    <%= t("application.#{auth_type_with_institution}.header") %>
  </h1>
  <%= form_tag(user_aleph_omniauth_callback_path(institution: current_institution.code, auth_type: params[:auth_type]), class: "#{params[:auth_type]}-login-form") do -%>
    <%= field_set_tag do -%>
      <div class="form-group">
        <%= label_tag "username", t("application.#{auth_type_with_institution}.username_label") %>
        <div class="row">
          <div class="col-sm-8">
            <%= text_field_tag "username", nil, placeholder: t("application.#{auth_type_with_institution}.username_placeholder"), class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "password", t("application.#{auth_type_with_institution}.password_label") %>
        <div class="row">
          <div class="col-sm-8">
            <%= password_field_tag "password", nil, class: "form-control" %>
            <%= password_field_help_text %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <%= submit_tag "Login", class: "btn col-xs-12" %>
          </div>
        </div>
      </div>
    <%- end -%>
  <%- end -%>
</div>
