<div id="aleph">
  <h2>
    <%= t("application.#{current_institution.code.downcase}.header") %>
    <a class="nyulibraries-help nyulibraries-help-icon" href="https://library.nyu.edu/info/bobcat/login.html" target="_blank">
      help
    </a>
  </h2>
  <%= form_tag(user_omniauth_callback_path(:aleph, institute: current_institute.code)) do -%>
    <%= field_set_tag do -%>
      <%= label_tag "username", t("application.#{current_institution.code.downcase}.username_label") %>
      <%= text_field_tag "username", nil, placeholder: t("application.#{current_institution.code.downcase}.username_placeholder") %>
      <%= label_tag "password", t("application.#{current_institution.code.downcase}.password_label") %>
      <%= password_field_tag "password" %><br />
      <%= submit_tag "Login" %>
    <%- end -%>
  <%- end -%>
</div>
